 .paginationBttns {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 2% 0;
  }

  .paginationBttns a {
    border: 2px solid black;
    padding: 5px 15px;
    border-radius: 50px;
    margin: 0 5px;
  }

  .containerSW{
    display: flex;
    justify-content: center;
  }

  .finalContainer{
      display: flex;
      justify-content: space-between;
      width: 50em;
  }